<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit My Mood</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Edit My Mood</h1>
        <form action="/users/<%= user._id %>/moods/<%= log._id %>/?_method=PUT" method="POST">
            <label for="mood">Type of Mood: </label>
            <input value="<%= log.mood %>" type="text" name="mood" id="mood" required />

            <label for="description">description: </label>
            <textarea name="description" id="description"><%= log.description %></textarea>

            <label for="date">Date: </label>
            <input value="<%= log.date.toISOString().slice(0,16) %>" type="datetime-local" name="date" id="date"
                required />

            <label for="intensity">Intensity: </label>
            <select name="intensity" id="intensity" required>
                <option value="Choose a Number" disabled>Choose a Number</option>
                <option value="1" <%=log.intensity === 1 ? "selected" : "" %>>1</option>
                <option value="2" <%=log.intensity === 2 ? "selected" : "" %>>2</option>
                <option value="3" <%=log.intensity === 3 ? "selected" : "" %>>3</option>
                <option value="4" <%=log.intensity === 4 ? "selected" : "" %>>4</option>
                <option value="5" <%=log.intensity === 5 ? "selected" : "" %>>5</option>
                <option value="6" <%=log.intensity === 6 ? "selected" : "" %>>6</option>
                <option value="7" <%=log.intensity === 7 ? "selected" : "" %>>7</option>
                <option value="8" <%=log.intensity === 8 ? "selected" : "" %>>8</option>
                <option value="9" <%=log.intensity === 9 ? "selected" : "" %>>9</option>
                <option value="10" <%=log.intensity === 10 ? "selected" : "" %>>10</option>
            </select>

            <label for="nextSteps">Next Steps: </label>
            <textarea name="nextSteps" id="nextStep"><%= log.nextSteps %></textarea>

            <label for="takeaway">Takeaway: </label>
            <textarea name="takeaway" id="takeaway"><%= log.takeaway %></textarea>

            <label for="progress">Progress: </label>
            <select name="progress" id="progress required">
                <option value="Choose an Action Status" disabled selected>Choose an Action Status</option>
                <option value="No Action Needed" <%= log.progress === "No Action Needed" ? "selected" : "" %>>No Action Needed</option>
                <option value="Not Started"  <%= log.progress === "Not Started" ? "selected" : "" %>>Not Started</option>
                <option value="In Progress"  <%= log.progress === "In Progress" ? "selected" : "" %>>In Progress</option>
                <option value="Completed"  <%= log.progress === "Completed" ? "selected" : "" %>>Completed</option>
            </select>
            <button class="update-button" type="submit">Update</button>
        </form>
</body>

</html>