<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Moods</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>My Moods</h1>
        <% if (user) { %>
        <h2>Welcome back, <%= user.username %>! How are you feeling today?</h2>
        <% } %>
        <h2>
            <a href="/users/<%= user._id %>/moods/new">Add A Mood</a>
        </h2>
        <ul>
            <% uniqueMoods.forEach(mood=> { %>
                <li>
                    <a href="/users/<%= user._id %>/moods/<%= mood %>">
                        <%= mood %>
                    </a>
                </li>
                <% }) %>
        </ul>
</body>

</html>