<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= moodName %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>Logs for Mood: <%= moodName %>
        </h1>

        <% if (moodLogs.length> 0) { %>
            <table>
                <tr>
                    <th>
                        <strong>Date</strong>
                    </th>
                    <th>
                        <strong>Description</strong>
                    </th>
                    <th>
                        <strong>Intensity</strong>
                    </th>
                    <th>
                        <strong>Next Steps</strong>
                    </th>
                    <th>
                        <strong>Takeaway</strong>
                    </th>
                    <th>
                        <strong>Progress</strong>
                    </th>
                    <th>
                        <strong>Edit</strong>
                    </th>
                    <th>
                        <strong>Delete</strong>
                    </th>
                </tr>
                <% moodLogs.forEach(log=> { %>
                    <tr>



                    </tr>
                    <td>
                        <%= new Date(log.date).toLocaleString('en-US', { year: 'numeric' , month: 'long' ,
                            day: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %>

                    </td>


                    <td>
                        <%= log.description %>
                    </td>
                    </th>

                    <td>
                        <%= log.intensity %>
                    </td>
                    <td>
                        <%= log.nextSteps %>
                    </td>
                    <td>
                        <%= log.takeaway %>
                    </td>
                    <td>
                        <%= log.progress%>
                    </td>
                    <td>
                        <form action="/users/<%= user._id %>/moods/<%= log._id %>/edit" method="GET">
                            <button>Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/users/<%= user._id %>/moods/<%= log._id %>?_method=DELETE" method="POST">
                            <button>Delete</button>
                        </form>
                    </td>
                    </th>
                    </tr>

                    <% }) %>
            </table>
            <% } else { %>
                <p>No logs found for this mood.</p>
                <% } %>

                    <a href="/users/<%= currentUser._id %>/moods">Back to Moods</a>
</body>

</html>

</html>